# Environment variables for local test suite execution with Docker services
REDIS_URL="redis://localhost:6379/1"
AE_POSTGRES_URL="postgres://postgres:postgres@localhost:5432/activeexperiment_test"
AE_MYSQL_URL="trilogy://root:root@127.0.0.1:3306/activeexperiment_test"
